@media (max-width: 600px) {
    .navbar-link, .home-container01 {
        display: none;
    }

    .navbar-logo-title {
        align-self: flex-start;
        margin-left: -4px;
    }

    .home-hero1 {
        flex-direction: column;
        justify-content: center;
    }

    .home-container03 {
        margin-left: auto;
        margin-right: 56px;
        align-items: center;
        margin-bottom: 18px;
    }

    .category-card-category-card {
        margin-bottom: -16px;
    }

    .category-card-image {
        width: 244px;
        height: 244px;
    }

    .home-full-width-banner {
        flex-direction: column;
    }

    .home-left4 {
        flex: 0;
        justify-content: space-evenly;
        padding-bottom: 36px;
    }

    .home-content {
        padding-top: 36px;
        margin-bottom: 20px;
    }

    .home-text30 {
        width: 100%;
    }

    .home-image6 {
        width: 100%;
    }

    .blog-post-card-blog-post-card {
        max-width: 600px;
    }

    .home-footer1 {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .home-links-container {
        margin-top: -32px;
        margin-bottom: 48px;
        flex-direction: column;
    }

    .home-container09 {
        margin-bottom: -76px;
    }
}